@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#page-wrap {
  width: 800px;
  margin: 0 auto;
}

.template_basic textarea {
  border: 0;
  font: 14px Georgia, Serif;
  overflow: hidden;
  resize: none;
}

.template_basic table {
  border-collapse: collapse;
}

.template_basic table td,
.template_basic table th {
  border: 1px solid black;
  padding: 5px;
}

.template_basic #header {
  height: 15px;
  width: 100%;
  margin: 20px 0;
  background: #222;
  text-align: center;
  color: white;
  font: bold 15px Helvetica, Sans-Serif;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  letter-spacing: 20px;
  padding: 8px 0px;
}

.template_basic #address {
  width: 250px;
  height: 150px;
  float: left;
}

.template_basic #customer {
  overflow: hidden;
}

.template_basic #logo {
  text-align: right;
  float: right;
  position: relative;
  margin-top: 25px;
  border: 1px solid #fff;
  max-width: 540px;
  max-height: 100px;
  overflow: hidden;
}

.template_basic #logo:hover,
.template_basic #logo.edit {
  border: 1px solid #000;
  margin-top: 0px;
  max-height: 125px;
}

.template_basic #logoctr {
  display: none;
}

.template_basic #logo:hover #logoctr,
.template_basic #logo.edit #logoctr {
  display: block;
  text-align: right;
  line-height: 25px;
  background: #eee;
  padding: 0 5px;
}

.template_basic #logohelp {
  text-align: left;
  display: none;
  font-style: italic;
  padding: 10px 5px;
}

.template_basic #logohelp input {
  margin-bottom: 5px;
}

.template_basic .edit #logohelp {
  display: block;
}

.template_basic .edit #save-logo,
.template_basic .edit #cancel-logo {
  display: inline;
}

.template_basic .edit #image,
.template_basic #save-logo,
.template_basic #cancel-logo,
.template_basic .edit #change-logo,
.template_basic .edit #delete-logo {
  display: none;
}

.template_basic #customer-title {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.template_basic #meta {
  margin-top: 1px;
  width: 300px;
  float: right;
}

.template_basic #meta td {
  text-align: right;
}

.template_basic #meta td.meta-head {
  text-align: left;
  background: #eee;
}

.template_basic #meta td textarea {
  width: 100%;
  height: 20px;
  text-align: right;
}

.template_basic #items {
  clear: both;
  width: 100%;
  margin: 30px 0 0 0;
  border: 1px solid black;
}

.template_basic #items th {
  background: #eee;
}

.template_basic #items textarea {
  width: 80px;
  height: 50px;
}

.template_basic #items tr.item-row td {
  border: 0;
  vertical-align: top;
}

.template_basic #items td.description {
  width: 300px;
}

.template_basic #items td.item-name {
  width: 175px;
}

.template_basic #items td.description textarea,
.template_basic #items td.item-name textarea {
  width: 100%;
}

.template_basic #items td.total-line {
  border-right: 0;
  text-align: right;
}

.template_basic #items td.total-value {
  border-left: 0;
  padding: 10px;
}

.template_basic #items td.total-value textarea {
  height: 20px;
  background: none;
}

.template_basic #items td.balance {
  background: #eee;
}

.template_basic #items td.blank {
  border: 0;
}

.template_basic #terms {
  text-align: center;
  margin: 20px 0 0 0;
}

.template_basic #terms h5 {
  text-transform: uppercase;
  font: 13px Helvetica, Sans-Serif;
  letter-spacing: 10px;
  border-bottom: 1px solid black;
  padding: 0 0 8px 0;
  margin: 0 0 8px 0;
}

.template_basic #terms textarea {
  width: 100%;
  text-align: center;
}

.template_basic textarea:hover,
.template_basic textarea:focus,
.template_basic #items td.total-value textarea:hover,
.template_basic #items td.total-value textarea:focus,
.template_basic .delete:hover {
  background-color: #EEFF88;
}

.template_basic .delete-wpr {
  position: relative;
}

.template_basic .delete {
  display: block;
  color: #000;
  text-decoration: none;
  position: absolute;
  background: #EEEEEE;
  font-weight: bold;
  padding: 0px 3px;
  border: 1px solid;
  top: -6px;
  left: -22px;
  font-family: Verdana;
  font-size: 12px;
}

